.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  position: absolute;
  width: 100vw;
  top: 0px
}

.title-label {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.config {
  display: flex;
  align-items: center;
  gap: 40px;
}

main div {
  display: flex;
  align-items: center;
}